extends ../layouts/common
block content   
    h1
        | Definitely with the 
        span.badge.badge-secondary Edits

    p old title : 
        span= book.name

    p old description : 
        span= book.description

    p old cost : 
        span= book.cost

    h3 new value :
    form(action="/books/update/"+ book.id, method="post")

        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Name
                    input.form-control(type='text',name="name", placeholder="Enter Book's Name")
                span#inputGroup-sizing-default.input-group-text Description
                    input.form-control(type='text', name="description", value= book.description)
                span#inputGroup-sizing-default.input-group-text Cost
                    input.form-control(type='text', name="cost", value= book.cost)
        button.btn.btn-success Submit