extends ./layouts/common

block content
    .btn-group.btn-group-toggle(data-toggle='buttons')
        a(href= "/users", class= "btn btn-outline-secondary") users
        p
        a(href= "/books", class= "btn btn-outline-secondary") books
        p
        a(href= "/transaction", class= "btn btn-outline-secondary") transaction
        p
