h1 complete transaction give knowledge

p
 p 
    b title : 
    span &nbsp
    span= user.name 
    span &nbsp
    p
    b phone : 
    span &nbsp
    span= user.phone
    span &nbsp
p
form(action="", method="POST")
    select(name="bookId")
        each book in books
            option(value= book.id)= book.name
    p
    button transaction


h2 list book borrowed :
ul
    each item in transaction
        each list in listBorrow
            span &nbsp
            if item.id === list.bookId
                li= item.name 
                    a(href="/transaction/" + list.id + "/complete", style="padding: 4px 12px; text-decoration:none; background-color : red; border-radius: 16px; color: white; margin-left: 30px ") has returned
                    p