extends ../layouts/common

block content
    h1 add new user

    form(action="create", method="post")
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Name
                    input.form-control(type='text',name="name", placeholder="Enter user Name")
                span#inputGroup-sizing-default.input-group-text Phone
                    input.form-control(type='text', name="phone",  placeholder="Enter user Phone")
        button.btn.btn-success Add
