extends ../layouts/common
block content
    form(style= "max-width: 800px; margin : auto; padding-top: 25px", action= "", method="post")
        .form-row
            .form-group.col-md-6
                label(for='inputEmail4') Email
                input#inputEmail4.form-control(type='email',  placeholder='chunguyenchuong2014bg@gmail.com', name = 'email', value= values ? values.email : '', readonly)
            .form-group.col-md-6
                label(for='inputName') Full Name
                input#inputName.form-control(type='text', placeholder='Chu Nguyen Chuong', name= 'fullName', value= values ? values.fullName : '', readonly)
        .form-row
            .form-group.col-md-6
                label(for='inputAddress') Address
                input#inputAddress.form-control(type='text', placeholder='Tân Sơn, Lục Ngạn, Bắc Giang', name= "address", , value= values ? values.address : '', readonly)
            .form-group.col-md-6
                label(for='inputPhone') Phone
                input#inputPhone.form-control(type='text', placeholder='098 7374 741', name = "phoneNumber", , value= values ? values.phoneNumber : '', readonly)
            .form-group.col-md-4
                label(for='inputAge') Age
                input#inputAge.form-control(type='text', placeholder='20', name = "age", value= values ? values.age : '', readonly)
            .form-group.col-md-2
                label(for='inputLevel') Level
                input#inputLevel.form-control(type='text', value = 0, name = "level",, readonly)
            .form-group.col-md-2
                img(src= values ? "/" + values.avatar : '', alt="", width = 240)
        button.btn.btn-danger(type='submit') DELETE
    if errs
        each err in errs
            .alert.alert-danger(style= "max-width: 800px; margin : auto")= err