h1 If you are the admin, you need to confirm

form(action="loginAdm", method="post")
    p
    label  user name :
    input(type="text" , name="username", placeholder="user name")
    p
    label  password :
    input(type="password" , name="pass", placeholder="password")
    p#noti
    button login