extends ../layouts/common

block content
    h1 add new book

    form(action="", method="post")
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Name
                    input.form-control(type='text',name="name", placeholder="Enter Book's Name")
                span#inputGroup-sizing-default.input-group-text description
                    input.form-control(type='text', name="description",  placeholder="Enter Book's Description")
        button.btn.btn-success Add