extends ./layouts/common

block content
    img(src="../imgs/logo.png")
    .btn-group
        a(href="/books", class="btn btn-primary") books
        a(href="/users", class="btn btn-primary") users
        a(href="/transaction", class="btn btn-primary") transaction
