h1 create new book 

form(action="", method= "post")
    label(for="name") name &nbsp
    input(type="text", name="name", placeholder="Enter name book", id="name")
    p
    label(for="name") description &nbsp
    input(type="text", name="description", placeholder="Enter description book", id="description")
    p
    label(for="name") cost &nbsp
    input(type="text", name="cost", placeholder="Enter cost book", id="cost")
    p
    button submit