<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Server-side validation
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-center
            a.navbar-brand(href='/') LIBRARY
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/users') Users
                    li.nav-item
                        a.nav-link(href='/books') Books
                    li.nav-item
                        a.nav-link(href='/transaction') Transaction
        .container.pt-5
            block content

