h1 Are you sure Delete This Book 

p
 p 
    b title : 
    span &nbsp
    span= value.title
    span &nbsp
    p
    b description : 
    span &nbsp
    span= value.description
    span &nbsp
p
form(action="delete", method="POST")
    button Delete