h1 Definitely with the edits

p old title : 
    span= value.title

p old description : 
    span= value.description

h3 new value :
form(action="/book/Edit/"+ value.id, method="post") 
    label(for="") Title &nbsp
    input(type="text", name="title", placeholder="Enter Book Title")
    p

    button(style="margin-left: 30px") add